body {
  background-color: #111;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

canvas {
  border: 3px solid white;
}

#score {
  margin-top: 10px;
  font-size: 20px;
}

#game-over {
  color: red;
  font-size: 24px;
  margin-top: 10px;
}

#startButton {
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 18px;
}
